@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toggle Switch Styles */
.toggle-checkbox:checked {
  right: 0;
  border-color: #3b82f6;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #3b82f6;
}

.toggle-checkbox {
  right: 0;
  border-color: #d1d5db;
}

.toggle-label {
  background-color: #d1d5db;
  transition: background-color 0.2s ease-in-out;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: block;
  min-width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Table header sticky styles */
.table-header-row {
  position: sticky;
  top: 0;
  z-index: 40;
}

.table-header-row-secondary {
  position: sticky;
  top: 40px;
  z-index: 30;
}

.table-cell-sticky-left {
  position: sticky;
  left: 0;
  z-index: 20;
}

.table-cell-sticky-right {
  position: sticky;
  right: 0;
  z-index: 20;
}
